#firstblob
{
    position:absolute;
   top: 50%;
left: 0%;
    width: 500px;
    z-index: -1;
    opacity: 0.5;
}


#secondblob
{
    position: absolute; 
    top:60% ;left:50%;
    z-index: -1;
    opacity:0.5;
}



@media (max-width: 1024px) {
    #firstblob
    {
        z-index: 1000;
        width: 100px;
        top: 40%;
        left: -18%;
        opacity: 0.3;
    }
#secondblob
{
    z-index: 1000;
    width: 100px;
    top: 94%;
}
}