<main>
    <div class="personal-info-heading">
        <div class="personal-logo">
            <span class="material-symbols-outlined">
               passkey
            </span>
        </div>
    
        <div class="personal-header">
            <h1>Personal Information</h1>
            <span>Please provide your personal information carefully.</span>
        </div>
    </div>


    <div class="form-data">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Bernard Hackwell">
            <label for="floatingInput">Full Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="123456789">
            <label for="floatingInput">Mobile Number</label>
        </div>
        <button class="btn btn-primary">Next</button>
    </div>
</main>

