<div class="header-content">
    <div class="feedback-heading">
        <h1>FeedBack! We would like to hear from you</h1>
    </div>

    <div class="organizers">
        <div class="organizer" id="header-adcomsys">
            <img src="/assets/images/adcomsys.webp" alt="">
        </div>
    
        <div class="organizer college-logo">
            <img src="/assets/images/iem.webp" alt="">
        </div>
    
        <div class="organizer college-logo">
            <img src="/assets/images/uem.webp" alt="">
        </div>
    </div>
</div>



