<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<main>
  <div class="personal-info-heading">
    <div class="personal-logo">
      <span class="material-symbols-outlined"> rate_review </span>
    </div>

    <div class="personal-header">
      <h1>Feedback</h1>
      <span>Please provide how was your experience in all of the events</span>
    </div>
  </div>
  <form #feedback2="ngForm" (ngSubmit)="onSubmit(feedback2)">
  <div class="form-data">
    <span>Would you recommend about this event to your friends?</span>
    <div class="friend-check">
      <div class="form-check">
        <input
          class="form-check-input"
          name="friends"
          type="radio"
          value="yes"
          id="flexCheckDefault"
          [(ngModel)]=" recommendations"
        />
        <label class="form-check-label" for="flexCheckDefault"> Yes </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="friends"
          value="no"
          id="flexCheckDefault"
          [(ngModel)]=" recommendations"
        />
        <label class="form-check-label" for="flexCheckDefault"> No </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="friends"
          value="not decided"
          id="flexCheckDefault"
          [(ngModel)]=" recommendations"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Not Decided
        </label>
      </div>
    </div>

    <div class="how-to-be-better mt-3">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >How can we do better? Please let us know how we can do better in 1000
          characters.
        </label>
        <textarea
          name="remarks"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          [(ngModel)]="remarks"
        ></textarea>
      </div>
    </div>
    <span>Please Rate the overall Quality of the event</span>
    <div class="ratings">
        <span (click)="rate(1)" #star1 class="fa fa-star" [ngClass]="startClassList" (mouseenter)="mouseOverStar(1)" (mouseleave)="mouseOutsideStar(1)"></span>
        <span (click)="rate(2)" #star2 class="fa fa-star" [ngClass]="startClassList" (mouseenter)="mouseOverStar(2)"></span>
        <span (click)="rate(3)" #star3 class="fa fa-star" [ngClass]="startClassList" (mouseenter)="mouseOverStar(3)"></span>
        <span (click)="rate(4)" #star4 class="fa fa-star" [ngClass]="startClassList" (mouseenter)="mouseOverStar(4)"></span>
        <span (click)="rate(5)" #star5 class="fa fa-star" [ngClass]="startClassList" (mouseenter)="mouseOverStar(5)"></span>
        <span (click)="rate(6)" #star6 class="fa fa-star" [ngClass]="startClassList" (mouseenter)="mouseOverStar(6)"></span>
    </div>

    <div class="buttons mt-3">
      <button class="btn btn-primary ms-2" type="submit">Submit</button>
      <button class="btn btn-light me-2">Previous</button>
    </div>
  </div>
</form>
</main>
