/* Bootstrap CSS Edits */

main
{
  position: absolute;
  left: 35%;
  margin-top: 12px;
}


.btn-primary {
  background-color: transparent;
  text-align: center;
  width: 200px;
  border: 0.3px solid #6c5ce7;
  color: #6c5ce7;
}

.btn-primary:hover {
  background-color: #6c5ce7;
  text-align: center;
  width: 200px;
  border: 0.5px solid #6c5ce7;
  color: white;
}

.form-select {
  width: 250px;
}
.form-check {
  margin: 9px;
}

/* BootStrap end */


.personal-logo > .material-symbols-outlined {
  font-size: 100px;
  color: #6c5ce7;
}

.personal-info-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.personal-header {
  text-align: center;
}

.personal-header > span {
  margin: 0;
  padding: 0;
}

.personal-header > h1 {
  padding: 0;
  margin-bottom: 0;
}

.form-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
}

.form-floating input {
  width: 500px;
}

.rating ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}



/* Form sections */

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.check-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.friend-check {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/* Media queries */
@media (max-width: 1024px) {
  .personal-info-heading {
    flex-direction: column;
    width: 100%;
    padding-top: 9px;
    text-align: center;
  }
  span
  {
    font-size: 12px;
  }

  label
  {
    font-size: 12px;
  }

  .btn
  {
    font-size: 12px;
    width: 100px;
  }

  main
  {
    position: initial;
    padding: 13px;
  }

  .personal-header > h1 {
    padding: 0;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .personal-logo > .material-symbols-outlined {
    font-size: 50px;
  }

  .personal-header > h1 {
    font-size: 16px;
  }
  .personal-header > span {
    font-size: 12px;
  }

  .section1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .form-floating {
    margin-top: 9px;
  }
  .form-floating input {
    width: 200px;
    font-size: 12px;
  }
  .form-floating label {
    font-size: 12px;
  }


  .form-range
  {
    width: 190px;
  }
  .form-select
  {
    width: 200px;
  }
  .form-check
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .form-check > input
  {
    font-size: 12px;
    text-align: center;
    margin-left: 7px;
  }

  .form-check > label
  {
    font-size: 12px;
    margin-top: 6px;
  }

  .ratings
  {
    font-size: 12px;
  }

  .rating ul {
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .rating ul li
  {
    margin-right: 8px;
    margin-left: 8px;
  }
}
