
<main>
  <div class="personal-info-heading">
    <div class="personal-logo">
      <span class="material-symbols-outlined"> rate_review </span>
    </div>

    <div class="personal-header">
      <h1>Feedback</h1>
      <span>Please provide how was your experience in all of the events</span>
    </div>
  </div>




 

  <form #feedBackForm="ngForm" (ngSubmit)="onSubmit(feedBackForm)">
    <div class="form-data">
      <div class="section1">
  
        <div class="form-floating m-2">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
            [(ngModel)]="feedBackData.emailAddress"
          />
          <label for="floatingInput">Email address</label>
        </div>
    
        <select class="form-select" aria-label="Select an option" name="eventType" [(ngModel)]="feedBackData.eventName">
          <option value="Flutter Fiesta">Flutter Fiesta</option>
          <option value="Poster Compedition">Poster Compedition</option>
          <option value="Wisdom War">Wisdom War</option>
          <option value="Coders Brawl">Coders Brawl</option>
        </select>
      </div>
      
  
      <div class="check-boxes mt-3 text-center">
        <span>What did you liked most about this event?</span>
  
        <div class="check-box p3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              name="event_management"
              [(ngModel)]="feedBackData.likedManagement"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Event Management
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              name="event_organization"
              [(ngModel)]="feedBackData.likedOrganization"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Event Organization
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              name="value_addition"
              [(ngModel)]="feedBackData.likedValueAddition"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Value Addition
            </label>
          </div>
        </div>
  
        <div class="ratings mt-3">
          <span
            >Rate the session by selecting the range lowest (left) to
            hightest(right)
          </span>
  
          <div class="rating">
            <label for="customRange2" class="form-label"
              >How relevant was the event's content to your interests?</label
            >
            <ul>
              <li>Good</li>
              <li>Average</li>
              <li>Bad</li>
            </ul>
            <input
              type="range"
              class="form-range"
              min="0"
              max="2"
              step="1"
              id="customRange1"
              name="content_rating"
              [(ngModel)]="feedBackData.contentRating"
            />
          </div>
  
          <div class="rating">
            <label for="customRange2" class="form-label"
              >How Would you rate the management in the event?</label
            >
            <ul>
              <li>Good</li>
              <li>Average</li>
              <li>Bad</li>
            </ul>
            <input
              type="range"
              class="form-range"
              min="0"
              max="2"
              step="1"
              id="customRange2"
              name="management_rating"
              [(ngModel)]="feedBackData.managementRating"
            />
          </div>
  
          <div class="rating">
            <label for="customRange3" class="form-label"
              >How would you rate the importance of the information shared in the
              event? *</label
            >
            <ul>
              <li>Good</li>
              <li>Average</li>
              <li>Bad</li>
            </ul>
            <input
              type="range"
              class="form-range"
              min="0"
              max="2"
              step="1"
              id="customRange3"
              name="information_rating"
              [(ngModel)]="feedBackData.informationRating"
            />
          </div>
        </div>
  
  
        <div class="buttons">
          <button class="btn btn-primary ms-2" type="submit">Next</button>
          <button class="btn btn-light me-2" (click)="gotoPersonal()" >Previous</button>
        </div>
      </div>
  
    </div>
  </form>
</main>
