<div class="side-bar-container">
    <div class="adcomsys-logo">
        <img src="/assets/images/adcomsys.webp" alt="">
    </div>

    <div class="progressbar">
        <ul>

            <li>
                <div class="progression">
                    <div class="access-button">
                        <button class="active">
                            <span class="material-symbols-outlined">
                                personal_injury
                            </span>
                        </button>
                    </div>
                    <div class="info">
                        <span>Personal</span>
                    </div>
                </div>
            </li>

            <span class="line"></span>
            
            <li>
                <div class="progression">
                    <div class="access-button">
                        <button>
                            <span class="material-symbols-outlined">
                                verified_user
                                </span>
                        </button>
                    </div>
                    <div class="info">
                        <span>Validate</span>
                    </div>
                </div>
            </li>
            <span class="line"></span>
            <li>
                <div class="progression">
                    <div class="access-button">
                        <button>
                            <span class="material-symbols-outlined">
                                rate_review
                                </span>
                        </button>
                    </div>
                    <div class="info">
                        <span>Feedback</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
