/* You can add global styles to this file, and also import other style files */
body
{
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;

    background: url('/assets/images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body::before
{
    filter: blur(2px);
}

h1
{
    font-family: 'Montserrat', sans-serif;
}


