<main>
    <div class="personal-info-heading">
        <div class="personal-logo">
            <span class="material-symbols-outlined">
                security
            </span>
        </div>
    
        <div class="personal-header">
            <h1>Verification</h1>
            <span>Please Verify your self by passing the captcha test</span>
            <br>
        </div>
    </div>
    
    <form #form="ngForm" class="captcha-form">
        <div class="row mt-3">
          <div class="col-sm-12 mb-2">
            <button type="button" class="btn btn-sm btn-primary text-center" (click)="send(form)">Send</button>
          </div>
        </div>
    </form>
</main> 

