<main>
    <div class="personal-info-heading">
        <div class="personal-logo">
            <span class="material-symbols-outlined">
                security
            </span>
        </div>
    
        <div class="personal-header">
            <h1>Verification</h1>
            <span>Please Enter the OTP sent to the mobile number *******789</span>
        </div>
    </div>


    <div class="form-data">
        <div class="pin-view">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
        </div>
       

        
        <div class="buttons">
            <button class="btn btn-light m-3">Previous</button>
            <button class="btn btn-primary m-3">Next</button>
        </div>
    </div>
</main> 

